In [289]:
import pandas as pd
import numpy as np
import scipy.stats as stats

# BUSINESS PROBLEM-1

In [15]:
Loans_data=pd.read_csv(r'Python casestudy/Hypothesis/LoansData.csv')
Loans_data

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,16000.0,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,10000.0,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,6000.0,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,9000.0,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [16]:
Loans_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2499 non-null   float64
 1   Amount.Funded.By.Investors      2499 non-null   float64
 2   Interest.Rate                   2498 non-null   object
 3   Loan.Length                     2500 non-null   object
 4   Loan.Purpose                    2500 non-null   object
 5   Debt.To.Income.Ratio            2499 non-null   object
 6   State                           2500 non-null   object
 7   Home.Ownership                  2499 non-null   object
 8   Monthly.Income                  2499 non-null   float64
 9   FICO.Range                      2498 non-null   object
 10  Open.CREDIT.Lines               2497 non-null   float64
 11  Revolving.CREDIT.Balance        2497 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 13  Employment.Length               2423 non-null   object
dtypes: float64(6), object(8)
memory usage: 273.6+ KB

In [17]:
Loans_data.isna().sum()

Amount.Requested                   1
Amount.Funded.By.Investors         1
Interest.Rate                      2
Loan.Length                        0
Loan.Purpose                       0
Debt.To.Income.Ratio               1
State                              0
Home.Ownership                     1
Monthly.Income                     1
FICO.Range                         2
Open.CREDIT.Lines                  3
Revolving.CREDIT.Balance           3
Inquiries.in.the.Last.6.Months     3
Employment.Length                 77
dtype: int64

In [18]:
Loans_data.drop(columns='Employment.Length',inplace=True)
Loans_data.dropna(inplace=True)

In [23]:
Loans_data['Interest.Rate']=Loans_data['Interest.Rate'].str.replace('%',' ').astype('float')
Loans_data['Debt.To.Income.Ratio']=Loans_data['Debt.To.Income.Ratio'].str.replace('%',' ').astype('float')
Loans_data['Loan.Length']=Loans_data['Loan.Length'].str.replace('months',' ').astype('float')

In [24]:
Loans_data_cont_var=Loans_data.loc[:,(Loans_data.dtypes=='float64')|(Loans_data.dtypes=='int64')]
Loans_data_cat_var=Loans_data.loc[:,Loans_data.dtypes=='object']

In [25]:
for val in Loans_data_cont_var.columns:
    Loans_data[val]=np.where(Loans_data[val]>Loans_data[val].quantile(0.99),Loans_data[val].quantile(0.99),Loans_data[val])

In [26]:
Loans_data.rename({'Amount.Requested': 'amt_req', 'Amount.Funded.By.Investors': 'amt_funded_by_investors', 'Interest.Rate': 'interest_rate',
       'Loan.Length': 'loan_length_Month', 'Loan.Purpose': 'loan_purpose', 'Debt.To.Income.Ratio': 'debt_to_inc_ratio',
       'Home.Ownership': 'home_ownership', 'Monthly.Income':'monthly_inc', 'FICO.Range':'FICO_Range', 'Open.CREDIT.Lines':'open_REDIT_lines',
       'Revolving.CREDIT.Balance': 'revolving_CREDIT_Bal' , 'Inquiries.in.the.Last.6.Months':'last_6month_inquiries',
       'Employment.Length':'employment_Length'}, axis= 1 , inplace= True)

# a. Intrest rate is varied for different loan amounts (Less intrest charged for high loan amounts)

In [27]:
# Ho: No corelation, independant
# Ha: variables are related, dependant
   
# CI: 95%
# p: 0.05
  
# rejection rule: p is low reject Null hypothesis, p is high Accept Null hypothesis

stats.pearsonr(Loans_data.interest_rate,Loans_data.amt_funded_by_investors)

# Business conclusion: As the p value is less than 0.05 at 95% confidence interval, we can conclude that there is correlation
# between the Interest rate and different loan amounts.

# So we can conclude that for large amount of loan less interest will be charged and vice versa.

PearsonRResult(statistic=0.3341023116568378, pvalue=5.737570334459154e-66)

# b. Loan length is directly effecting intrest rate.

In [30]:
# Ho: No corelation, independant
# Ha: variables are related, dependant
   
# CI: 95%
# p: 0.05
  
# rejection rule: p is low reject Null hypothesis, p is high Accept Null hypothesis

stats.spearmanr(Loans_data.interest_rate,Loans_data.loan_length_Month)

# Business conclusion: As the p value is less than 0.05 at 95% confidence interval, we can conclude that there is correlation
# between the Interest rate and loan length in months.

# So we can conclude that for large loan length, less interest will be charged and vice versa.

SpearmanrResult(correlation=0.3897344194175745, pvalue=4.3727413630439584e-91)

# c. Inrest rate varies for different purpose of loans

In [37]:
Loans_data.loan_purpose.unique()

array(['debt_consolidation', 'credit_card', 'other', 'moving', 'car',
       'vacation', 'home_improvement', 'house', 'major_purchase',
       'educational', 'medical', 'wedding', 'small_business',
       'renewable_energy'], dtype=object)

In [40]:
L1=Loans_data.loc[Loans_data['loan_purpose']=='debt_consolidation','interest_rate']
L2=Loans_data.loc[Loans_data['loan_purpose']=='credit_card','interest_rate']
L3=Loans_data.loc[Loans_data['loan_purpose']=='other','interest_rate']
L4=Loans_data.loc[Loans_data['loan_purpose']=='moving','interest_rate']
L5=Loans_data.loc[Loans_data['loan_purpose']=='car','interest_rate']
L6=Loans_data.loc[Loans_data['loan_purpose']=='vacation','interest_rate']
L7=Loans_data.loc[Loans_data['loan_purpose']=='home_improvement','interest_rate']
L8=Loans_data.loc[Loans_data['loan_purpose']=='house','interest_rate']
L9=Loans_data.loc[Loans_data['loan_purpose']=='major_purchase','interest_rate']
L10=Loans_data.loc[Loans_data['loan_purpose']=='educational','interest_rate']
L11=Loans_data.loc[Loans_data['loan_purpose']=='medical','interest_rate']
L12=Loans_data.loc[Loans_data['loan_purpose']=='wedding','interest_rate']
L13=Loans_data.loc[Loans_data['loan_purpose']=='small_business','interest_rate']
L14=Loans_data.loc[Loans_data['loan_purpose']=='renewable_energy','interest_rate']

In [42]:
# Ho: mean of L1=L2=L3=Ln or F=0
# Ha: one of the mean is different from others or F<>0

# CI: 95%
# p: 0.05
  
stats.f_oneway(L1,L2,L3,L4,L5,L6,L7,L8,L9,L10,L11,L12,L13,L14)

# Business conclusion: As the p value is less than 0.05 at 95% confidence interval, we can conclude that one of the segment is
# different from others in terms of mean.

# So we can conclude that for Interest values will change for different purposes of loans.

F_onewayResult(statistic=7.485329679963486, pvalue=1.1463480725465721e-14)

# d. There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

In [61]:
# Ho: chi-square=0
# Ha: chi-square<>0

# CI: 95%
# p: 0.05

observed=pd.crosstab(Loans_data.home_ownership,Loans_data.FICO_Range)
print('p-value: ',stats.chi2_contingency(observed)[1])

# Business conclusion: As the p value is less than 0.05 at 95% confidence interval, we can conclude that there is relationship
# between home_ownership and high FICO scores.

# So we can conclude that for people owning home have high FICO scores.

p-value:  8.424183189199129e-17

# BUSINESS PROBLEM: 2

#   We would like to assess if there is any difference in the average price quotes provided by Mary and Barry.

In [66]:
Price_quotes=pd.read_csv(r'Python casestudy/Hypothesis/Price_Quotes.csv')

In [70]:
Bary_price=Price_quotes.Barry_Price.mean()

In [71]:
Mary_price=Price_quotes.Mary_Price.mean()

In [74]:
# H0: u1=u2
# Ha: u1<>u2

# CI: 95%
# p: 0.05

stats.ttest_rel(Price_quotes.Barry_Price,Price_quotes.Mary_Price)

# Business conclusion: From the obtained p value we can identify that the p value is less than 0.05 so that we can reject null hypothesis
# and shows difference in means.

# so we can conclude that there is different in average price quotes by Barry and Mary.

Ttest_relResult(statistic=2.5213765108923494, pvalue=0.02840588045242053)

# BUSINESS PROBLEM: 3

# Determine what effect, if any, the reengineering effort had on the incidence behavioral problems and staff turnover. i.e To determine if the reengineering effortchanged the critical incidence rate. Isthere evidence that the critical incidence rate improved?

In [85]:
Treatment=pd.read_csv(r'Python casestudy/Hypothesis/Treatment_Facility.csv')
Treatment=Treatment.rename(columns={'VAR4':'TRFF(%)','VAR5':'CI(%)'})

In [86]:
sample_1=Treatment.loc[Treatment['Reengineer']=='Prior','CI(%)']
sample_2=Treatment.loc[Treatment['Reengineer']=='Post','CI(%)']

In [95]:
print(sample_1.mean(),sample_2.mean())

53.887906321846145 23.34971927988571

In [96]:
# Ho: u2<=u1
# Ha: u2 > u1

# CI = 95%
# p = 0.05

# we accept null hypothesis when p value is more than 0.05

stats.ttest_ind(sample_1,sample_2)

# Business conclusion: As we can see the value of p is greater than 0.05, so we can accept the null hypothesis this means that
# there is no evidence with which we can say that the critical incidence has been improved.

Ttest_indResult(statistic=1.627914425352865, pvalue=0.12091989189884148)

# Business Problem 4

#  We will focus on the prioritization system. If the system is working, then high priority jobs, on average, should be completed more quickly than medium priority jobs, and medium priority jobs should be completed more quickly than low priority jobs. Use the data provided to determine whether thisis, in fact, occurring.

In [101]:
Priority=pd.read_csv(r'Python casestudy/Hypothesis/Priority_Assessment.csv')
Priority

     Days Priority
0     3.3     High
1     7.9   Medium
2     0.3     High
3     0.7   Medium
4     8.6   Medium
..    ...      ...
637   2.5      Low
638   0.3     High
639   0.3   Medium
640   1.3   Medium
641   0.5     High

[642 rows x 2 columns]

In [103]:
# Ho: No corelation, independant
# Ha: variables are related, dependant

# CI: 95%
# p: 0.05

stats.spearmanr(Priority.Days,Priority.Priority)

# Business conclusion: As the p value is greater than 0.05 we have to accept the Null hypothesis which means no relation

# There is no evidence to say that the prioritization system is working from the given set of data.

SpearmanrResult(correlation=0.017913791551236326, pvalue=0.6505153120156153)

# Business Problem 5

In [227]:
Films=pd.read_csv(r'Python casestudy/Hypothesis/Films.csv')
Films

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,0,Ferris Buellers Day Off,Female,Married,2.0,2.0,2.0,2.0,3.0,1.0,5
1,0,Ferris Buellers Day Off,Female,Single,1.0,1.0,1.0,1.0,2.0,1.0,5
2,0,Ferris Buellers Day Off,Male,Married,2.0,4.0,3.0,2.0,4.0,1.0,5
3,0,Ferris Buellers Day Off,Female,Married,1.0,3.0,2.0,2.0,4.0,1.0,5
4,0,Ferris Buellers Day Off,Female,Married,1.0,1.0,1.0,1.0,3.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...
325,0,Old School,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1
326,0,Old School,1,1,2.0,2.0,2.0,2.0,3.0,3.0,5
327,0,Old School,2,1,2.0,1.0,1.0,2.0,2.0,2.0,5
328,0,Old School,1,1,1.0,1.0,1.0,1.0,2.0,1.0,3
329,0,Old School,2,2,2.0,2.0,3.0,1.0,2.0,1.0,5

In [228]:
Films.Marital_Status.value_counts()

2          208
1           88
Single      18
Married     12
Slngle       2
Name: Marital_Status, dtype: int64

In [230]:
Films.isna().sum()

_rowstate_        0
Movie             0
Gender            0
Marital_Status    0
Sinage            0
Parking           0
Clean             0
Overall           0
Age               0
Income            0
Hear_About        0
dtype: int64

In [229]:
for var in Films.columns:
    Films[var].fillna(value = Films[var].mode()[0], inplace=True)

In [231]:
def Marital_Status(x):
    if x.Marital_Status=='Married':
        return '1'
    elif x.Marital_Status=='Single':
        return '2'
    elif x.Marital_Status=='Slngle':
        return '2'
    elif x.Marital_Status=='1':
        return '1'
    else:
        return '2'

In [232]:
Films['Marital_Status']=Films.apply(Marital_Status,axis=1)

In [233]:
def Gender(x):
    if x.Gender=='Male':
        return '1'
    elif x.Gender=='Female':
        return '2'
    elif x.Gender=='1':
        return '1'
    else:
        return '2'

In [234]:
Films['Gender']=Films.apply(Gender,axis=1)

In [ ]:
Films['Age range']=np.where((Films['Age']==1.0),'1-12',np.where((Films['Age']==2.0),'13-30',np.where((Films['Age']==3.0),'31-60','60+')))

In [273]:
Films['Income range']=np.where((Films['Income']==1.0),'< $50000',np.where((Films['Income']==2.0),'$50000 - $100000','$100000+'))

In [275]:
Films

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About,Age range,Income range
0,0,Ferris Buellers Day Off,2,1,2.0,2.0,2.0,2.0,3.0,1.0,5,31-60,< $50000
1,0,Ferris Buellers Day Off,2,2,1.0,1.0,1.0,1.0,2.0,1.0,5,13-30,< $50000
2,0,Ferris Buellers Day Off,1,1,2.0,4.0,3.0,2.0,4.0,1.0,5,60+,< $50000
3,0,Ferris Buellers Day Off,2,1,1.0,3.0,2.0,2.0,4.0,1.0,5,60+,< $50000
4,0,Ferris Buellers Day Off,2,1,1.0,1.0,1.0,1.0,3.0,3.0,1,31-60,$100000+
...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,0,Old School,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1,13-30,< $50000
326,0,Old School,1,1,2.0,2.0,2.0,2.0,3.0,3.0,5,31-60,$100000+
327,0,Old School,2,1,2.0,1.0,1.0,2.0,2.0,2.0,5,13-30,$50000 - $100000
328,0,Old School,1,1,1.0,1.0,1.0,1.0,2.0,1.0,3,13-30,< $50000
329,0,Old School,2,2,2.0,2.0,3.0,1.0,2.0,1.0,5,13-30,< $50000

#  What is the overall level of customer satisfaction?

In [151]:
Satisfaction_score=pd.pivot_table(Films,index=['Overall'],values='Gender',aggfunc='count')
Satisfaction_score=Satisfaction_score.reset_index().rename(columns={'Overall':'Satisfaction_score','Gender':'Count'})

In [153]:
Satisfaction_score['Probability']=Satisfaction_score['Count']/Satisfaction_score['Count'].sum()

In [156]:
print('  As Satisfaction level 1 is Excellent and 2 is Good. That means their is 94% chance customers are satisfied. ')
Satisfaction_score

  As Satisfaction level 1 is Excellent and 2 is Good. That means their is 94% chance customers are satisfied.

   Satisfaction_score  Count  Probability
0                 1.0    151     0.457576
1                 2.0    162     0.490909
2                 3.0     12     0.036364
3                 4.0      1     0.003030
4                 5.0      4     0.012121

# What factors are linked to satisfaction?

In [166]:
# data prep for chi square test
Sinage=pd.crosstab(Films.Sinage,Films.Overall,margins=False)
Sinage

Overall  1.0  2.0  3.0  4.0  5.0
Sinage
1.0       90   22    0    0    1
2.0       44  109    4    0    1
3.0       13   25    8    1    1
4.0        2    4    0    0    0
5.0        2    2    0    0    1

In [163]:

# Ho: No relationship, independant
# Ha: variables are related, dependant
   
# CI: 95%
# p: 0.05
  
# rejection rule: p is low reject null hypothesis, p is high accept null hypothesis

# perform the test
stats.chi2_contingency(Sinage)[1]

# Business conclusion: As the value of p value is less than 0.05, so we have to reject null hypothesis. so there is a 
# relationship between the two variables i.e., Sinage and satisfaction

# so, increase in sinage rating also increases the satisfaction score

4.53298970003405e-19

In [167]:
# For Parking
# data prep for chi square test
Parking=pd.crosstab(Films.Parking,Films.Overall,margins=False)
Parking

Overall  1.0  2.0  3.0  4.0  5.0
Parking
1.0      105   27    2    0    1
2.0       40  111    3    0    1
3.0        4   20    5    0    0
4.0        2    3    1    0    1
5.0        0    1    1    1    1

In [168]:

# Ho: No relationship, independant
# Ha: variables are related, dependant
   
# CI: 95%
# p: 0.05
  
# rejection rule: p is low reject null hypothesis, p is high accept null hypothesis

# perform the test
stats.chi2_contingency(Parking)[1]

# Business conclusion: As the value of p value is less than 0.05, so we have to reject null hypothesis. so there is a 
# relationship between the two variables i.e., Parking and satisfaction

# so, increase in Parking space rating also increases the satisfaction score

4.783162283608494e-40

In [169]:
# For Clean
# data prep for chi square test
Clean=pd.crosstab(Films.Clean,Films.Overall,margins=False)
Clean

Overall  1.0  2.0  3.0  4.0  5.0
Clean
1.0      104   35    3    0    2
2.0       39  109    5    1    1
3.0        6   14    4    0    0
4.0        1    4    0    0    0
5.0        1    0    0    0    1

In [171]:

# Ho: No relationship, independant
# Ha: variables are related, dependant
   
# CI: 95%
# p: 0.05
  
# rejection rule: p is low reject null hypothesis, p is high accept null hypothesis

# perform the test
stats.chi2_contingency(Clean)[1]

# Business conclusion: As the value of p value is less than 0.05, so we have to reject null hypothesis. so there is a 
# relationship between the two variables i.e., Clean and satisfaction

# so, increase in Clean space rating also increases the satisfaction score

1.7772535915434025e-19

#  What is the demographic profile of Film on the Rocks patrons?

In [196]:
Gender_demog=Films.groupby('Gender')[['Gender']].count()
Gender_demog=Gender_demog.rename(columns={'Gender':'count'}).reset_index()
Gender_demog['Probability']=Gender_demog['count']/Gender_demog['count'].sum()
print('As we can see the value of 1 is for Male and 2 for Females from probability values 64% of audience are Female')
Gender_demog

As we can see the value of 1 is for Male and 2 for Females from probability values 64% of audience are Female

  Gender  count  Probability
0      1    117     0.354545
1      2    213     0.645455

In [237]:
Marital_demog=Films.groupby('Marital_Status')[['Marital_Status']].count()
Marital_demog=Marital_demog.rename(columns={'Marital_Status':'count'}).reset_index()
Marital_demog['Probability']=Marital_demog['count']/Marital_demog['count'].sum()
print('As we can see the value of 1 is for Married and 2 for Singles from probability values 69% of audience are Single')
Marital_demog

As we can see the value of 1 is for Married and 2 for Singles from probability values 69% of audience are Single

  Marital_Status  count  Probability
0              1    100      0.30303
1              2    230      0.69697

In [268]:
Age_demog=Films.groupby(['Age','Age range'])[['Age']].count()
Age_demog=Age_demog.rename(columns={'Age':'count'}).reset_index()
Age_demog['Probability']=Age_demog['count']/Age_demog['count'].sum()
print('As we can see through the table the age range of audience between 13-30 are 53%')
Age_demog

As we can see through the table the age range of audience between 13-30 are 53%

   Age Age range  count  Probability
0  1.0      1-12     26     0.078788
1  2.0     13-30    177     0.536364
2  3.0     31-60    117     0.354545
3  4.0       60+     10     0.030303

In [280]:
Income_demog=Films.groupby(['Income','Income range'])[['Income']].count()
Income_demog=Income_demog.rename(columns={'Income':'count'}).reset_index()
Income_demog['Probability']=Income_demog['count']/Income_demog['count'].sum()
print('As we can see the data the table shows the income range of audience < $50000 are more than the others upto 47%')
Income_demog

As we can see the data the table shows the income range of audience < $50000 are more than the others upto 47%

   Income      Income range  count  Probability
0     1.0          < $50000    158     0.478788
1     2.0  $50000 - $100000     82     0.248485
2     3.0          $100000+     90     0.272727

# In what media outlet(s) should the film series be advertised?

In [288]:
Heard_abt=Films.groupby('Hear_About')[['Hear_About']].count()
Heard_abt=Heard_abt.rename(columns={'Hear_About':'count'}).reset_index()
Heard_abt['Probability']=Heard_abt['count']/Heard_abt['count'].sum()
print('There is a probability of 70% that the audience heard about film series through word of mouth')
Heard_abt

There is a probability of 70% that the audience heard about film series through word of mouth

   Hear_About  count  Probability
0           1     22     0.066667
1         1,5      1     0.003030
2           2     12     0.036364
3         2,5      2     0.006061
4           3     14     0.042424
5         3,4      2     0.006061
6         3,5      1     0.003030
7           4     41     0.124242
8         4,5      1     0.003030
9           5    233     0.706061
10        5,4      1     0.003030